main {
    width: 100%; /* Ocupa 100% da largura da tela */
    max-width: 100%; /* Garante que não ultrapasse a largura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 20px; /* Mantém um espaçamento interno */
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

.detalhes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px ; /* Espaçamento apenas no topo e na base */
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.detalhes-container p{
    font-size: large;
    order: 1;
}

.texto {
    flex: 1; 

}

.imagem {
    max-width: 600px; 

    border-radius: 10px; 
    order: 2;
}

.imagem img{
    width: 600px;
    height: auto;
}

@media (max-width: 768px) {

    .detalhes-container {
        display: flex;
        flex-direction: column;
    }

    .detalhes-container .imagem{
        width: 100%;
        height: auto;
        order: 1;
    }
    .texto {
        order: 2;
    }
}