<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agnus Dei{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Pagina Principal</a></li>
                <li><a href="/mais-sobre">Mais Sobre</a></li>
                <li><a href="/oracoes">Orações</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Agnus Dei. Todos os direitos reservados.</p>
        <p>Criado com amor a Deus por: Felipe Salviano</p>
    </footer>
</body>
</html>