{% extends "base.html" %}

{% block title %}Mais Sobre{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/mais-sobre.css">

<h1>Mais sobre</h1>

<div class="cards-grid">
    <!-- Card 1 -->
    <a href="jesus" class="card">
        <img src="https://i.pinimg.com/736x/96/e7/60/96e760f0ef2d68ad9e875cdec0db626d.jpg" alt="Jesus Cristo">
        <div class="card-content">
            <h3>Jesus Cristo</h3>
            <p>O filho do homem</p>
        </div>
    </a>

    <!-- Card 2 -->
    <a href="maria" class="card">
        <img src="https://i.pinimg.com/736x/39/59/0e/39590ea886f954180649b94384f3f76f.jpg" alt="Santa Maria">
        <div class="card-content">
            <h3>Santa Maria</h3>
            <p>A mãe de Deus</p>
        </div>
    </a>

    <!-- Card 3 -->
    <a href="pagina-noe.html" class="card">
        <img src="https://i.pinimg.com/736x/c7/ee/e4/c7eee4929933dc8ad847df22f827c2c9.jpg" alt="Jose pai de Jesus">
        <div class="card-content">
            <h3>José</h3>
            <p>O pai de Jesus</p>
        </div>
    </a>
{% endblock %}
