{% extends "base.html" %}

{% block title %}Mais Sobre{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/mais-sobre.css">

<h1>Mais sobre</h1>

<div id="cards-grid">
    <!-- conteudo sera carregado aqui -->
    <div id="loading-animation" class="dot-wave">
        <div class="dot-wave__dot"></div>
        <div class="dot-wave__dot"></div>
        <div class="dot-wave__dot"></div>
        <div class="dot-wave__dot"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/cards.js') }}"></script>
{% endblock %}
