<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agnus Dei</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="background-image"></div>
    <section class="content">
        <h1>Jesus Cristo</h1>
        <p>"Eu sou o caminho, a verdade, e a vida; ninguém vem ao Pai, senão por mim."</p>
        <p>- João 14:6</p>
    </section>

    <section class="section2">
        <h2>"Eu disse essas coisas para que em mim vocês tenham paz.<br> Neste mundo vocês terão aflições; contudo, tenham ânimo! Eu venci o mundo"</h2>
        <p>- João 16:33.</p>
    </section>

    <section class="section3">
        <h2>Site criado com propósito de evangelizar</h2> 
        <p>criado por: Felipe Salviano</p>

<div class="buttons">
    <button class="btn" id="startButton"><span></span><p data-start="good luck!" data-text="Cristo" data-title="Clique!"></p></button>
 </div>
    </section>

    <script src="../static/js/main.js"></script>
</body>
</html>