{% extends "base.html" %}

{% block title %}Sobre Jesus{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/jesus.css">

<section class="section01">
    <div class="text-content">
    <h1>Jesus Cristo ✞</h1>
    <h2>O filho do homem</h2>
    <p>Jesus Cristo é o centro da fé católica e a figura mais importante da história da humanidade. Ele é o Filho de Deus, enviado ao mundo para nos salvar do pecado e nos reconectar com o Pai. Sua vida, ensinamentos, morte e ressurreição são a base da doutrina católica e o fundamento da nossa esperança.

        Nascido em Belém, na humildade de uma manjedoura, Jesus veio ao mundo para cumprir as promessas feitas por Deus ao longo dos séculos. Sua infância foi marcada pela simplicidade, e sua vida pública, iniciada com o batismo no Rio Jordão, foi dedicada a anunciar o Reino de Deus. Através de suas palavras e ações, Jesus revelou o amor infinito de Deus pela humanidade.
        
        Ele pregou a misericórdia, o perdão e o amor ao próximo, ensinando-nos a viver de acordo com a vontade do Pai. Seus milagres — como a cura dos enfermos, a multiplicação dos pães e a ressurreição de Lázaro — mostravam o poder de Deus e confirmavam sua divindade. Mas o maior ato de amor de Jesus foi sua paixão, morte e ressurreição.
        
        Na cruz, Jesus ofereceu sua vida como sacrifício por nossos pecados, mostrando-nos que o amor verdadeiro é capaz de vencer até a morte. Sua ressurreição ao terceiro dia é a garantia de que a vida eterna é possível para todos aqueles que creem e seguem seus ensinamentos.
        
        Como católicos, somos chamados a seguir os passos de Jesus, imitando sua humildade, compaixão e dedicação ao Pai. Ele nos deixou a Igreja, guiada pelo Espírito Santo, para continuar sua missão de salvação. Através dos sacramentos, especialmente da Eucaristia, podemos nos unir a Ele e receber a graça necessária para viver como verdadeiros discípulos.
        
        Jesus Cristo não é apenas uma figura do passado; Ele está vivo e presente em nossa vida diária. Convidamos você a conhecer mais sobre Ele, a se aproximar de seu amor e a permitir que Ele transforme seu coração. Que a luz de Cristo ilumine seu caminho e o guie para a plenitude da vida em Deus.
        
        </p>
    </div>
    <img src="https://i.pinimg.com/736x/96/e7/60/96e760f0ef2d68ad9e875cdec0db626d.jpg" class="image-content" alt="Jesus nos céus">
</section>
{% endblock %}
