{% extends "base.html" %}

{% block title %}Jesus{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/jesus.css">

<nav class="navJesus">
    <ul>
        <li><a href="/">Vida de Jesus</a></li>
        <li><a href="/ensino-de-jesus">Ensino de Jesus</a></li>
        <li><a href="/milagres-de-jesus">Milagres de Jesus</a></li>
        <li><a href="/oracao-e-reflexao">Oração e Reflexão</a></li>
        <li><a href="/santos-e-jesus">Santos e Jesus</a></li>
        <li><a href="/festas-liturgicas">Festas Litúrgicas</a></li>
    </ul>
</nav>

<h1>A vida de Jesus</h1>

<div class="artigos">
    <section class="direita">
        <div>
        <h1>Direita</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias, itaque exercitationem incidunt cupiditate perferendis sit labore corrupti, ex, saepe temporibus dolorem dolor quidem tempore soluta facilis reiciendis corporis architecto!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad esse quaerat numquam quas vero accusantium fuga, incidunt velit qui quam ratione consequuntur sed dicta unde quidem minima sit, error exercitationem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam nisi quibusdam commodi odit! Possimus, sit. Officia nulla nam consequuntur fugiat, maiores ullam quo tempore, explicabo possimus necessitatibus eum soluta quos!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt amet odit soluta velit voluptas beatae repellat iste eveniet provident molestiae quis debitis, vitae minus. Quae ab exercitationem laboriosam alias illum.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum enim voluptatum labore consectetur eum quia temporibus! Molestiae, amet tempora explicabo totam accusamus architecto quod sapiente at aperiam accusantium mollitia enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci animi, omnis quis exercitationem consequatur voluptatem fuga ipsa cupiditate qui provident rerum consequuntur voluptates libero nemo illum sint minus et! Vero!

        </p>
    </div>
        <img src="../static/img/biblia.jpg" alt="imagem 01">
    </section>

    <section class="esquerda">
        <div>
        <h1>Esquerda</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias, itaque exercitationem incidunt cupiditate perferendis sit labore corrupti, ex, saepe temporibus dolorem dolor quidem tempore soluta facilis reiciendis corporis architecto!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad esse quaerat numquam quas vero accusantium fuga, incidunt velit qui quam ratione consequuntur sed dicta unde quidem minima sit, error exercitationem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam nisi quibusdam commodi odit! Possimus, sit. Officia nulla nam consequuntur fugiat, maiores ullam quo tempore, explicabo possimus necessitatibus eum soluta quos!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt amet odit soluta velit voluptas beatae repellat iste eveniet provident molestiae quis debitis, vitae minus. Quae ab exercitationem laboriosam alias illum.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum enim voluptatum labore consectetur eum quia temporibus! Molestiae, amet tempora explicabo totam accusamus architecto quod sapiente at aperiam accusantium mollitia enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci animi, omnis quis exercitationem consequatur voluptatem fuga ipsa cupiditate qui provident rerum consequuntur voluptates libero nemo illum sint minus et! Vero!

        </p>
    </div>
        <img src="../static/img/biblia.jpg" alt="imagem 01">
    </section>
    
</div>

{% endblock %}