{% extends "base.html" %}

{% block title %}Sobre Jesus{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/maria.css">

<section class="section01">

    <div>
        <img src="https://i.pinimg.com/736x/39/59/0e/39590ea886f954180649b94384f3f76f.jpg" class="image-content" alt="Maria Mãe de Deus">
    </div>

    <div class="text-content">
        <h1>Santa Maria</h1>
        <h2>Mãe de Jesus</h2>
        <p>Santa Maria, a Mãe de Deus, é uma das figuras mais amadas e veneradas na fé católica. Ela foi escolhida por Deus para uma missão única: ser a mãe do Seu Filho, Jesus Cristo, o Salvador da humanidade. Maria é um exemplo de fé, obediência e amor, e sua vida nos inspira a confiar plenamente em Deus e a seguir Sua vontade.

            Desde o momento da Anunciação, quando o anjo Gabriel lhe revelou que ela seria a mãe do Messias, Maria demonstrou uma fé inabalável. Sua resposta, "Eis aqui a serva do Senhor; faça-se em mim segundo a tua palavra" (Lucas 1:38), é um modelo de entrega total a Deus. Ela aceitou com humildade e coragem o plano divino, mesmo sem compreender completamente o que isso significaria para sua vida.
            
            Maria acompanhou Jesus desde seu nascimento em Belém, passando por sua infância, até os momentos mais importantes de sua vida pública. Ela esteve presente nas bodas de Caná, onde intercedeu por um milagre, e ao pé da cruz, onde testemunhou o sacrifício de seu Filho por nossa salvação. Sua presença silenciosa e cheia de amor nos ensina a confiar em Deus mesmo nos momentos mais difíceis.
            
            Após a ascensão de Jesus, Maria permaneceu com os apóstolos, rezando e apoiando a Igreja nascente. Ela é considerada a Mãe da Igreja, pois, assim como cuidou de Jesus, ela cuida de todos os seus filhos espirituais, intercedendo por nós junto a Deus.
            
            A devoção a Maria é uma parte essencial da espiritualidade católica. Através de orações como o Santo Rosário, a Ave-Maria e a Salve-Rainha, os fiéis buscam sua proteção e orientação. Maria nos aponta sempre para Jesus, dizendo, como fez em Caná: "Fazei tudo o que Ele vos disser" (João 2:5).
            
            Maria também é um modelo de virtudes para todos os cristãos. Sua pureza, humildade, obediência e amor ao próximo nos mostram como viver uma vida santa e agradável a Deus. Ela nos ensina a dizer "sim" a Deus todos os dias, mesmo quando Seus planos parecem difíceis de entender.
            
            Nossa Senhora é invocada sob diversos títulos, como Nossa Senhora de Fátima, Nossa Senhora Aparecida, Nossa Senhora de Lourdes e muitos outros, cada um refletindo um aspecto de seu amor maternal e intercessão poderosa.
            
            Que Santa Maria, a Mãe de Deus, nos ajude a seguir o exemplo de seu Filho Jesus Cristo e a confiar sempre na misericórdia divina. Que ela nos cubra com seu manto protetor e nos guie em nossa jornada rumo à vida eterna.</p>
    </div>
</section>
{% endblock %}
