{% extends "base.html" %}

{% block title %}Orações{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/oracao.css">

 <!-- Lado Esquerdo - Lista de Tópicos -->
 <div class="left-panel">
    <h1>Orações</h1>
    <h3 onclick="toggleTopic('oracoes-tradicionais')">Orações Tradicionais</h3>
    <ul id="oracoes-tradicionais">
        <!-- As orações serão carregadas dinamicamente aqui -->
    </ul>

    <h3 onclick="toggleTopic('oracoes-especificas')">Orações para Momentos Específicos</h3>
    <ul id="oracoes-especificas" class="hidden">
        <!-- As orações serão carregadas dinamicamente aqui -->
    </ul>

    <h3 onclick="toggleTopic('oracoes-novenas')">Novenas</h3>
    <ul id="oracoes-novenas" class="hidden">
        <!-- As orações serão carregadas dinamicamente aqui -->
    </ul>
</div>

<div class="middle-panel">
    <div id="loading-animation-oracoes" class="dot-wave">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
    <h2 id="prayer-title"></h2>
    <div id="prayer-content"></div>
</div>

  <script src="{{ url_for('static', filename='js/oracao.js') }}"></script>
  
{% endblock %}
