<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agnus Dei{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/mais-sobre.css">
    <link rel="stylesheet" href="/static/css/home.css">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="16x16">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="180x180">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    
    
    


</head>
<body>
    <header>
        
    </header>

    <main>
        <nav class="navegacao">
            <a href="/home">
                <img src="{{ url_for('static', filename='img/imagemLogo.png') }}" alt="Logo do Site">
            </a>
            <button class="menu-toggle" aria-label="Abrir menu">&#9776; Menu</button>
            <ul class="menu">
                <li><a href="/home">Pagina Principal</a></li>
                <li><a href="/personagens">Mais Sobre</a></li>
                <li><a href="/oracoes">Orações</a></li>
                <li><a href="/artigo">Artigos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </main>

<footer>
  <div class="footer-content">
    
    <div class="footer-left">
      <h4>Sobre o Agnus Dei</h4>
      <p>&copy; 2025 Agnus Dei. Todos os direitos reservados.<br>
      Criado com amor a Deus por: Felipe Salviano</p>
      <p><em>"Tudo posso naquele que me fortalece" — Filipenses 4:13</em></p>
    </div>

    <div class="footer-links">
      <h4>Navegação</h4>
      <ul>
        <li><a href="/home">Página Principal</a></li>
        <li><a href="/personagens">Mais Sobre</a></li>
        <li><a href="/oracoes">Orações</a></li>
        <li><a href="/artigo">Artigos</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>

    <div class="footer-referencias">
      <h4>Referências Católicas</h4>
      <ul>
        <li><a href="https://www.vatican.va/" target="_blank">Vaticano</a></li>
        <li><a href="https://www.cnbb.org.br/" target="_blank">CNBB</a></li>
        <li><a href="https://www.acidigital.com/" target="_blank">ACI Digital</a></li>
        <li><a href="https://www.catholicnewsagency.com/" target="_blank">Catholic News Agency</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <h4>Siga-me SalvianDev</h4>
      <ul>
        <li><a href="https://www.instagram.com/salviandev?igsh=MW52bWo1dmt3eDlkYg%3D%3D&utm_source=qr" target="_blank">Instagram</a></li>
        <li><a href="https://github.com/fesalvian" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/felipe-salviano-a9821723b/?locale=en_US" target="_blank">LinkedIn</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contato</h4>
      <p>Email: felipesalviano00@hotmail.com</p>
      <p>Telefone: (44) 99118-8029</p>
    </div>

    <div class="footer-doacao">
        <div class="botaoDoacao">
  <h4>Contribua</h4>
  <p>Ajude-nos a espalhar a Palavra de Deus, todo dinheiro doado será usado para manter este projeto no ar:</p>
  
  <a href="https://www.paypal.com/donate" target="_blank" class="botao-doacao">Doe Agora</a>
  </div>
  <div class="qrCode">
  <div class="qr-code">
    <img src="../static/img/qrCodeDoacao.png" alt="QR Code para doação">
    <p>Escaneie o QR Code para doar via Pix</p>
  </div>
  </div>
</div>


  </div>
</footer>


    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>