{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/noticias.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/videos.css') }}">

<section class="hero">
    <div class="hero-content">
        <h1>Bem-vindo ao Agnus Dei</h1>
        <p>Encontre paz, orações e inspiração na fé católica.</p>
        <a href="/personagens" class="btn">Explore Mais</a>
    </div>
</section>

<section id="liturgia"></section>

<section class="introducao">
  <div class="introducao-wrapper">
    <div class="introducao-texto">
      <h2>🕊️ Habemus Papam: Leão XIV</h2>
      <p>
        Em 8 de maio de 2025, a Igreja Católica celebrou a eleição do Papa Leão XIV, nascido Robert Francis Prevost, como seu 267º líder espiritual. Ele é o primeiro pontífice norte-americano e também possui cidadania peruana, refletindo sua trajetória missionária na América Latina. Em sua homilia de entronização, Leão XIV destacou a importância da unidade, reconciliação e caridade, comprometendo-se com um pontificado pastoral e dialogante.
      </p>
    </div>

    <div class="imagem-papa">
      <img src="../static/img/fotoOficialPapa.jpg" alt="Introdução">
      <p class="legenda-papa">Foto oficial divulgada pelo Vaticano no dia da eleição de Leão XIV, 8 de maio de 2025.</p>
    </div>
  </div>
</section>

<section class="video-destaque">
    <h2 id="video-titulo"></h2>
  <div class="conteudo-div">
    <p id="video-descricao"></p>
    <div id="video-container"></div>
  </div>
</section>

<section id="noticias-catolicas">
    <h2 id="noticiaTitulo" style="text-align: center;">Últimas Notícias do mundo Católico</h2>
    <div id="feed-noticias" class="noticias-container"></div>
</section>

<section class="destaques">
    <div class="destaque-card">
        <img src="../static/img/jesusIcon.png" alt="Jesus">
        <h3>Jesus Cristo</h3>
        <p>Conheça mais sobre a vida e os ensinamentos de Jesus.</p>
        <a href="/jesus" class="btn">Saiba Mais</a>
    </div>
    <div class="destaque-card">
        <img src="../static/img/mariaIcon.png" alt="Maria">
        <h3>Maria</h3>
        <p>Descubra a devoção a Nossa Senhora.</p>
        <a href="/maria" class="btn">Saiba Mais</a>
    </div>
    <div class="destaque-card">
        <img src="../static/img/oracaoIcon.png" alt="Orações">
        <h3>Orações</h3>
        <p>Encontre orações para fortalecer sua fé.</p>
        <a href="/oracoes" class="btn">Saiba Mais</a>
    </div>
</section>

<section id="calendario-liturgico">
    <!-- O conteúdo do calendário será carregado aqui -->
</section>

<section class="depoimentos">
    <h2>Lembre-se sempre</h2>
    <blockquote>
        "Porque Deus amou o mundo de tal maneira que deu o seu Filho unigênito,
        para que todo aquele que nele crê não pereça, mas tenha a vida eterna." - João 3, 16
    </blockquote>
</section>

<script src="{{ url_for('static', filename='js/calendario.js') }}"></script>
<script src="{{ url_for('static', filename='js/noticias.js') }}"></script>
<script src="{{ url_for('static', filename='js/video.js') }}"></script>

{% endblock %}
